# SQL Part 3 Exercises Joins

This notebook works with the BooksDB dataset.  

**Questions 1-4** focus on how joins work in a more general sense.  If you are not sure how to best answer the questions, try manipulating the queries by changing the order of joins, the length of the TOP, or how they are ordered.  

> <span style="background-color: rgba(127, 127, 127, 0.1);"><i>Note</i>: If some of the queries are not returning quickly, you can try closing and restarting azure data studio after a few minutes.</span>

In **questions 5-8**, you will be asked to join tables to find results about titles, tags, and the books users want to read.

As you go through the questions, you will see 'Minimum Desired Output'.  This will provide you with the bare minimum columns needed to answer the questions.  When you write the queries, add as many additional columns as you need to best find your answers.

## **QUESTION 1:**  Exploring a LEFT JOIN using the **books** and **to\_read** tables

The code block below has been commented out. To answer this question, you will need to uncomment it by removing the **/\*** (line 1) and **\*/** (line 16).

**Part A:** Look at Query 1, which table is the 'Left' table and which is the 'Right'?

> Your Answer: the left table is books and the right table is to\_read

**Part B:** Using table 2, answer the following questions: 

- When we added a  '**WHERE tr.user\_id IS NOT NULL'** clause (line 14), how did the table change?  Why?

> Your Answer: this removed entries where there is no user ID. 'null' means the user ID is missing so if we select all the user IDs that are not null, that is the expected result.

In [2]:

-- Query 1: LEFT JOIN 
SELECT TOP 10 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
ORDER BY b.average_rating;

-- Query 2: LEFT JOIN USING 'IS NOT NULL'
SELECT TOP 10 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
LEFT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
ORDER BY b.average_rating;

title,average_rating,books_count,user_id,book_id
One Night at the Call Center,2.47,25,NULL,NULL
The Almost Moon,2.67,63,NULL,NULL
The Finkler Question,2.76,45,NULL,NULL
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613
Four Blondes,2.8,57,6465,6613
Four Blondes,2.8,57,6700,6613
Four Blondes,2.8,57,7830,6613
Four Blondes,2.8,57,10085,6613
Four Blondes,2.8,57,16298,6613

title,average_rating,books_count,user_id,book_id
Four Blondes,2.8,57,449,6613
Four Blondes,2.8,57,1378,6613
Four Blondes,2.8,57,6465,6613
Four Blondes,2.8,57,6700,6613
Four Blondes,2.8,57,7830,6613
Four Blondes,2.8,57,10085,6613
Four Blondes,2.8,57,16298,6613
Four Blondes,2.8,57,16845,6613
Four Blondes,2.8,57,17470,6613
Four Blondes,2.8,57,19763,6613

## **QUESTION 2:** Exploring **RIGHT** joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:** Looking at the query, which table is the 'Left' and which is the 'Right'?

> Your Answer: the left table is books and the right table is to\_read

**Part B:** How do the RIGHT-joined tables differ from the LEFT-joined tables in Question 1?  

> Your Answer: the RIGHT-joined table returns everything from the right table and the matching rows from the left table. if there is no match it becomes null

In [3]:

-- Query 1: RIGHT JOIN
SELECT TOP 10 b.title, b.average_rating, b.books_count, tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
RIGHT JOIN BooksDB.dbo.to_read AS tr
ON b.best_book_id = tr.book_id;

title,average_rating,books_count,user_id,book_id
Children of Dune (Dune Chronicles #3),3.9,116,1,112
NULL,NULL,NULL,1,235
NULL,NULL,NULL,1,533
NULL,NULL,NULL,1,1198
NULL,NULL,NULL,1,1874
NULL,NULL,NULL,1,2058
NULL,NULL,NULL,1,3334
NULL,NULL,NULL,2,4
NULL,NULL,NULL,2,11
The Ultimate Hitchhiker's Guide to the Galaxy,4.37,32,2,13

## **QUESTION 3:** Exploring FULL JOINS with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  Look at the table and explore how it was populated.  Try manipulating the query to better understand how this table works.  Try adding a WHERE clause, or ORDER BY a column on the **books** table.  Based on your exploration, can you think of when you might want a FULL join rather than a LEFT, RIGHT, or INNER?

> Your Answer: I feel like a full join could be useful for removing all mismatched values across tables and identifying patterns that way. This seems to be an easy way to compare the tables themselves instead of the actual data inside the tables.

In [4]:

-- FULL JOIN
SELECT TOP 10 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
FULL JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
WHERE b.title IS NOT NULL;

title,average_rating,books_count,user_id,book_id
"The Hunger Games (The Hunger Games, #1)",4.34,272,NULL,NULL
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,61,3
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,590,3
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,632,3
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,892,3
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,1400,3
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,1439,3
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,1606,3
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,1783,3
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44,491,1851,3

## **QUESTION 4:** Exploring INNER Joins with the **books** and **to\_read** tables

You will need to uncomment the Query to answer the question.

**Part A:**  What does an inner join do?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Your Answer:&nbsp;</span>  only returns matched rows.

<span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;"><b>Part B:</b>&nbsp;Currently this table has an <b>'IS NOT NULL'</b> in the <b>WHERE</b> clause.&nbsp; Is this necessary for this table?&nbsp; Why or Why not?&nbsp;</span>  

> Your Answer: The WHERE / IS NOT NULL is only necessary if there are null values expected in the original data that we want to remove. Otherwise there will be no null values in an INNER join since we did not return unmatched rows

**Part C:**  When using SQL, you are usually returning much larger tables so every line of code will add to the compilation and return time.  Rewrite this inner join query so that it contains no redundant code.   

> Your Answer:  Update the query in the code box below.

In [5]:

-- INNER JOIN
SELECT TOP 10 b.title, b.average_rating, b.books_count,tr.user_id, tr.book_id
FROM BooksDB.dbo.books AS b
INNER JOIN BooksDB.dbo.to_read AS tr
ON b.book_id = tr.book_id
ORDER BY tr.book_id;

title,average_rating,books_count,user_id,book_id
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,12,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,192,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,202,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,244,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,253,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,350,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,478,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,511,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,525,1
"Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54,275,527,1

## **QUESTION 5:**  Using joins to find the most tagged book and the most popular tag

We will be writing 3 queries to find both the most tagged book and that book's most popular tag.

**Part A:**  What is the most tagged book?

> <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">Start by joining the </span> **books** <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">and </span> **book\_tags**    <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span>      <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We want the <i>most popular</i> book, so think about ordering the table in a way that will display both the book title and the number of times a book tag has been used.</span>
> 
> _MInimum Desired output:_  The title of the most tagged book, and the number of times the book has been tagged.
> 
> **Title:**  the Alchemist tagged 596,234 times

**Part B:** How many different tags have been used for the most tagged book?

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">Start by joining the&nbsp;</span>    **books** <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">and&nbsp;</span>    **book\_tags**    <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">&nbsp;tables ON the books.best_book_id and book_tags.goodreads_book_id.&nbsp;&nbsp;<br></span>      We want to find the _most popular_ tag id, so think about ordering in a way that will display the most popular tag id.
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i> The tag id for the most popular tag used for the most tagged book.&nbsp;</span>   
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Id: </b>tag 30574 was used 9,983 times</span>

<span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Part C: </b>What is this particular tag?</span>

> You may return this answer with a simple query.

> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><i>Minimum Desired Output:</i>&nbsp;The tag name for the most popular tag used for the most tagged book.&nbsp;</span>   
> 
> <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);"><b>Tag Name: </b>the most popular tag is 'to-read'</span>

In [6]:
-- Code Here:

SELECT TOP 10 b.title, bt.count
FROM books as b 
LEFT JOIN book_tags as bt 
ON b.book_id = bt.goodreads_book_id
GROUP BY b.title, bt.count 
ORDER BY bt.count DESC

SELECT TOP 10 bt.tag_id, COUNT(bt.tag_id) as 'times tagged'
FROM books as b
LEFT JOIN book_tags as bt 
ON b.book_id = bt.goodreads_book_id
GROUP BY bt.tag_id
ORDER BY 'times tagged' DESC

SELECT TOP 5 t.tag_id, t.tag_name
FROM tags as t
WHERE t.tag_id LIKE '30574'

title,count
The Alchemist,596234
"The Girl with the Dragon Tattoo (Millennium, #1)",586235
All the Light We Cannot See,505884
"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",496107
Les Misérables,488469
"Cinder (The Lunar Chronicles, #1)",474954
Catch-22,465640
Gone with the Wind,454565
Slaughterhouse-Five,443942
Memoirs of a Geisha,436097

tag_id,times tagged
30574,9983
11557,9881
22743,9858
5207,9799
8717,9776
18045,9415
22753,9221
11743,9097
30521,8692
17213,8316

tag_id,tag_name
30574,to-read

## **QUESTION 6:** Find a book based on a tag of your choice using joins.

Some suggestions: any hobbies you like? baking, drawing, etc. how about favorite holidays, subjects, animals, etc?

**Part A:** Explore the tags table for a tag of your choice.  Suggested ideas, try searching for one of your hobbies, a favorite time of year, favorite animal, etc.  Start by querying the tag table for your chosen tag.  (_Hint:_ in order to make sure you find all combinations of your tags, use the wildcard).  If your query returns more than one result, pick your favorite.

> > _Here is an example.  Alyce wanted to search for halloween books.  She used the wildcard, '%halloween%' and 8 different combinations were found.  Alyce selected '**halloween-storytime**', with a tag id of 13877._

> _Minimum Desired Output:_ <span style="font-family: -apple-system, BlinkMacSystemFont, sans-serif; background-color: rgba(127, 127, 127, 0.1);">tag name and tag id</span>

> **Your Tag and Tag Id:** christian-faith 7111

**Part B:** Now that you have the **tag id**, find the title that was tagged the most with this tag by joining the books and books\_tags tables.

> > _Alyce joined the book table with the tags table and discovered that <u>The Little Old Lady Who Was Not Afraid of Anything</u> was tagged as '**halloween-storytime**' the most._

> _Minimum Desired Output:_ <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">title and tag count</span>

> **Your Title and Number of times the tag was used:**  Crazy Love: Overwhelmed by a Relentless God and the tag was used 12 times

In [7]:
-- Code Here:

SELECT TOP 10 tag_name, tag_id
FROM tags
WHERE tag_name LIKE '%faith%'

SELECT TOP 10 b.title, bt.count
FROM books AS b 
LEFT JOIN book_tags as bt 
ON b.book_id = bt.goodreads_book_id
WHERE bt.tag_id LIKE '7111'
GROUP BY bt.count, b.title
ORDER BY bt.count DESC

tag_name,tag_id
bible-study-faith-devotional,4437
christian-faith,7111
christianity-faith,7205
christianity-my-faith,7206
faith,11166
faith-and-courage,11167
faith-and-hope,11168
faith-and-religion,11169
faith-and-spirituality,11170
faith-based,11171

title,count
Crazy Love: Overwhelmed by a Relentless God,12
Forgotten God: Reversing Our Tragic Neglect of the Holy Spirit,10
Radical: Taking Back Your Faith from the American Dream,7
The Power of a Praying Wife,7
"The Ragamuffin Gospel: Good News for the Bedraggled, Beat-Up, and Burnt Out",7
7: An Experimental Mutiny Against Excess,6
For the Love: Fighting for Grace in a World of Impossible Standards,6
The Case for Christ,6
The Pursuit of God,6
Celebration of Discipline: The Path to Spiritual Growth,5

## **QUESTION 7:** What are the top 10 most popular book titles on the 'to read' list?

**Part A:**  Explore how the **to\_read** and **books** tables are organized, and then join them.  What will you use as a key?

> Your Answer: the key is book\_id

**Part B:** Organize your newly joined table in a way that groups popularity based on the title based on users.

> _Hint:_ Suggest using an alias for the aggregation you will need to run on the **user\_id**

> _Minimum Desired Output:_ title and aliased column

In [8]:
-- Code Here:

SELECT TOP 10 b.title, SUM(tr.user_id) AS "number of users"
FROM books AS b 
LEFT JOIN to_read AS tr 
ON b.book_id =  tr.book_id 
GROUP BY b.title
ORDER BY "number of users" DESC

title,number of users
The Ultimate Hitchhiker's Guide to the Galaxy,50452034
"The Hitchhiker's Guide to the Galaxy (Hitchhiker's Guide to the Galaxy, #1)",46936050
"Harry Potter and the Goblet of Fire (Harry Potter, #4)",42173162
"Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",41305787
The Lord of the Rings: The Art of The Fellowship of the Ring,40757992
"Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",36850411
The Lord of the Rings: Weapons and Warfare,34788000
The Known World,32518419
Notes from a Small Island,32071447
"Harry Potter Collection (Harry Potter, #1-6)",30743859

## **QUESTION 8:** Largest 'To Read' Lists

**Part A:**  Create a query that returns a table that contains the top 10 users with the most number of titles on their 'to read' list.    Group all the entries by user\_id.  

> _Hint:_ You might want an alias for the titles.
> 
> _Minimum Desired Output:_  user\_id and your aliased column of titles.

**Part B:**  The longest list length is 15 titles total, and is shared by 4 different users.  Select one of the uses and print out their entire '**to read**' list.

In [9]:
-- Code Here:

SELECT TOP 10 tr.user_id, COUNT(b.title) AS "number of books"
FROM books AS b 
LEFT JOIN to_read AS tr 
ON b.book_id = tr.book_id
WHERE tr.user_id IS NOT NULL
GROUP BY tr.user_id 
ORDER BY "number of books" DESC 

SELECT TOP 15 b.title
FROM books as b 
LEFT JOIN to_read AS tr 
ON b.book_id = tr.book_id 
WHERE tr.user_id LIKE 14771

user_id,number of books
12483,15
11932,15
14771,15
38201,15
37359,14
36923,14
27933,14
41523,14
25930,13
25734,13

title
"Harry Potter and the Order of the Phoenix (Harry Potter, #5)"
"Harry Potter and the Goblet of Fire (Harry Potter, #4)"
In a Sunburned Country
The Lost Continent: Travels in Small Town America
J.R.R. Tolkien 4-Book Boxed Set: The Hobbit and The Lord of the Rings
"The Fellowship of the Ring (The Lord of the Rings, #1)"
The Known World
What to Expect the First Year (What to Expect)
The Lord of the Rings: The Art of The Fellowship of the Ring
Tropic of Cancer
The New York Trilogy
Leviathan
The Iliad/The Odyssey
A Widow for One Year
Ten Apples Up On Top!